Cliente2/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Peliculas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clasificación" type="xs:int" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duración" type="xs:float" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Peliculas" nillable="true" type="tns:Peliculas" />
  <xs:complexType name="Alumnos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nocontrol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Promedio" type="xs:int" />
      <xs:element minOccurs="0" name="Semestre" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alumnos" nillable="true" type="tns:Alumnos" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="Libros">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:float" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libros" nillable="true" type="tns:Libros" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>