Cliente/Connected Services/ServiceReference2/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54382/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicio" />
  <xs:element name="CrearPeliculas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPeliculasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServicio" minOccurs="0" name="CrearPeliculasResult" nillable="true" type="q1:Peliculas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAlumnos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAlumnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServicio" minOccurs="0" name="CrearAlumnosResult" nillable="true" type="q2:Alumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearLibros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearLibrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServicio" minOccurs="0" name="CrearLibrosResult" nillable="true" type="q3:Alumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirDolares">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pesos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirDolaresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertirDolaresResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosPeliculas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServicio" minOccurs="0" name="pelicula" nillable="true" type="q4:Peliculas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosPeliculasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServicio" minOccurs="0" name="GetDatosPeliculasResult" nillable="true" type="q5:Peliculas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosAlumnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServicio" minOccurs="0" name="alumno" nillable="true" type="q6:Alumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosAlumnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServicio" minOccurs="0" name="GetDatosAlumnosResult" nillable="true" type="q7:Alumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosLibros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServicio" minOccurs="0" name="libro" nillable="true" type="q8:Libros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosLibrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServicio" minOccurs="0" name="GetDatosLibrosResult" nillable="true" type="q9:Libros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServicio" minOccurs="0" name="composite" nillable="true" type="q10:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServicio" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q11:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>