Cliente3/Connected Services/ServiceReference3/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54382/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54382/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54382/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CrearPeliculas_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearPeliculas" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearPeliculas_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearPeliculasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearAlumnos_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearAlumnos" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearAlumnos_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearAlumnosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearLibros_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearLibros" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearLibros_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearLibrosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertirDolares_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertirDolares" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertirDolares_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertirDolaresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosPeliculas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosPeliculas" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosPeliculas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosPeliculasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosAlumnos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosAlumnos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosAlumnos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosAlumnosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosLibros_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosLibros" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosLibros_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosLibrosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CrearPeliculas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearPeliculas" message="tns:IService1_CrearPeliculas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearPeliculasResponse" message="tns:IService1_CrearPeliculas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearAlumnos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearAlumnos" message="tns:IService1_CrearAlumnos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearAlumnosResponse" message="tns:IService1_CrearAlumnos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearLibros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearLibros" message="tns:IService1_CrearLibros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearLibrosResponse" message="tns:IService1_CrearLibros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertirDolares">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConvertirDolares" message="tns:IService1_ConvertirDolares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConvertirDolaresResponse" message="tns:IService1_ConvertirDolares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatosPeliculas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDatosPeliculas" message="tns:IService1_GetDatosPeliculas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDatosPeliculasResponse" message="tns:IService1_GetDatosPeliculas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatosAlumnos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDatosAlumnos" message="tns:IService1_GetDatosAlumnos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDatosAlumnosResponse" message="tns:IService1_GetDatosAlumnos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatosLibros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDatosLibros" message="tns:IService1_GetDatosLibros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDatosLibrosResponse" message="tns:IService1_GetDatosLibros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearPeliculas">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearPeliculas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearAlumnos">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearAlumnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearLibros">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearLibros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertirDolares">
      <soap:operation soapAction="http://tempuri.org/IService1/ConvertirDolares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosPeliculas">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDatosPeliculas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosAlumnos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDatosAlumnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosLibros">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDatosLibros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54382/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>